<div><i> <u>Author:</u> </i><br>{{quote.author}}</div>
<br>
<div><i> <u>Submitted by:</u> </i><br>{{quote.uploader}} </div>
<br>
<p><i> <u>Time lapse:</u> </i><br>{{quote.completeDate|timeLapse}} days ago.</p>
<button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete Quote</button>
<br><br>

<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-sm btn-success"><i class="fa fa-thumbs-up" (click)="incrementLikes()">Upvote={{quote.likes}}</i></button>  
  </div>
  
  <div class="col-md-3">
    <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-thumbs-down" (click)="incrementDislikes()">Downvote={{quote.dislikes}}</i></button>  
  </div>
</div>