.tag{
  color: rgb(228, 125, 142);
  font-weight: 900;
  text-decoration: purple;
  text-align: center;
}
image
{
 background-size: cover;
}

#row1{
  background-image: url(/assets/pexels-benjamin-suter-3733269.jpg);
  height: 140vh;
  position: sticky;
  
  
}