<div class="tag"><h1>CREATE...DISCOVER..INSPIRE</h1></div>
<br>
<div class="row" id="row1">
 
      <div class="col-md-6" style="color: azure;">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>

      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index' class="card" style="width: 25; height: %; background-image: url(/assets/pexels-benjamin-suter-3733269.jpg); color: azure; padding: 4%;">
         <div class="card-body" style="background-color: black; opacity: 0.75;">
        
              <div id={{i}} class="card-text"><i> <u>My Quote</u> </i> <br>{{quote.quote}} </div>
              <br>  
              <app-quote-info  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-info>
           
            </div>
         </div>
     </div>
    
 </div>
