<div class="container mt-5">
  <h1>QUOTES FOR YOU</h1>
</div>

<div *ngFor='let quote of quotes;let i = index' class="card" style="width: 18; background-image: url(/assets/pexels-benjamin-suter-3733269.jpg); color: azure; padding: 5%;">
  
  <div class="card-body">
    <div id={{i}} class="card-text">{{quote.quote}} </div>
   
    <br>  
    <app-quote-info  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-info>
  </div>

  <!-- <div class="card-body">
    <div id={{i}} class="card-text">{{quote.quote}} </div>
    <br>
    <div>{{quote.author}}</div>
    <br>
    <div>{{quote.uploader}} </div> 
    <br>  
    <app-quote-info  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-info>
  </div> -->


</div>


      

<!-- <router-outlet></router-outlet> -->
