
<div class="container-fluid">
  <h2 class="text-center">Create a new Quote</h2>

  <hr>
  <form (ngSubmit)='submitQuote(quoteForm);quoteForm.resetForm({})' #quoteForm='ngForm'>
      <div class="form-group">

         
        <label for="quote">Quote</label>
        <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required>
       
    </div>
    <div class="form-group">

        <label for="author">Author</label>
        <input class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
        
    </div>
    <div class="form-group">

      <label for="author">Uploader</label>
      <input class="form-control" id="uploader" rows="4" [(ngModel)]="newQuote.uploader" name="uploader" #uploader="ngModel" required>
     
  </div>

  <br>
    <div class="form-group">

        <label for="complete">Date submitted:</label>
        <input type='date' id="complete" [(ngModel)]="newGoal.completeDate" name="completeDate" #completeDate="ngModel" required>
        
    </div>
    <br>
    <button type="submit" class="btn btn-success">Add your quote</button>
</form>
</div>